@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6d0d0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 95%;
  min-height: 95vh;
  margin: 20px auto;
  background: linear-gradient(to bottom, #f7cfd8, #fbe7e7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.logo h3 {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  background-color: #e89ab1;
  color: black;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #d98098;
  transform: translateY(-2px);
}

.hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.hero-text {
  max-width: 900px;
}

.hero-text h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 90px;
  font-weight: 400;
  margin-bottom: 20px;
  color: black;
}

.hero-text h2 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
  color: black;
}

/* BUTTONS */

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttons button {
  padding: 16px 40px;
  border: none;
  border-radius: 14px;
  background-color: #e89ab1;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: #d98098;
  transform: scale(1.05);
}

.simple-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 40px;
}

.simple-text {
  max-width: 900px;
}

.simple-text h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 90px;
  font-weight: 400;
  margin-bottom: 30px;
  color: black;
}

.simple-text p {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 15px;
  font-weight: 500;
  color: black;
}
